// Mixins
@mixin table-wrapper {
	display: table;
	height: 100%;
	text-align: center;
	width: 100%;
}

@mixin table-middle {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

@mixin animation($dur) {
	-webkit-animation-duration: $dur;
	animation-duration: $dur;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}