@import 'mixins';
@import 'animations';

html, body {
	background-color: #111111;
	color: #ffffff;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 100%;
	line-height: 20px;
    letter-spacing: 0.2em;;
	margin: 0;
	overflow: hidden;
	padding: 0;

	div, section {
		display: block;
		position: relative;
	}

	h1 {
		font-size: 22px;
	}

	p {}
}

#intro-screen {
	@include table-wrapper;

	background-color: #111111;
	position: absolute;
	z-index: 10;

	.intro-screen__container {
		@include table-middle;

		.intro-screen__cta {
			@include animation(2s);

			-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;

			.intro-screen__copy {
				margin: 0 auto;
				max-width: 550px;

				#trigger {
					cursor: pointer;

					&:hover{
						text-decoration: underline;	
					}
				}

				ul {
					border: 1px solid #fff;
					display: none;
					padding: 20px;
					padding-left: 40px;
					text-align: left;
				}
			}

			.intro-screen__button {
				border: 1px solid #ffffff;
				cursor: pointer;
				display: inline-block;
				padding: 5px 10px;

				&:hover {
					background-color: #ffffff;
					color: #111111;

				}
			}
		}
	}

	&.close {
		display: none;
	}
}

.video-bg {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;

	.video-bg__player {
		height: 100%;
		width: 100%;
	}
}

.puzzle {
	@include table-wrapper;

	.puzzle__container{
		@include table-middle;

		.puzzle__stage {
			background-color: #000000;
			font-size: 0px;
			margin: 0 auto;
			opacity: 0.5;
			width: 300px;

			.puzzle__stage-slot {
				display: inline-block;
				height: 100px;
				vertical-align: top;
				width: 100px;
			}
		}

		.puzzle__pieces {
			background-color: #000000;
			display: inline-block;
			font-size: 0px;
			margin: 0 auto;
			margin-top: 20px;
			min-height: 100px;
			min-width: 260px;
			opacity: 0.5;
			padding: 20px;

			.piece {
				margin: 2px;
			}
		}

		.piece {
			background-image: url('../images/qr.png');
			background-repeat: no-repeat;
			display: inline-block;
			height: 100px;
			margin: 0;
			width: 100px;

			// Using one image as a 'sprite' to help loading times and it's easier to manage.
			&#piece-01{ background-position: 0px 0px; }
			&#piece-02{ background-position: -100px 0px; }
			&#piece-03{ background-position: -200px 0px; }
			&#piece-04{ background-position: 0px -100px; }
			&#piece-05{ background-position: -100px -100px; }
			&#piece-06{ background-position: -200px -100px; }
			&#piece-07{ background-position: 0px -200px; }
			&#piece-08{ background-position: -100px -200px; }
			&#piece-09{ background-position: -200px -200px; }
		}
	}
}

#prize-page {
	background-color: #ffffff;
	@include table-wrapper;

	.prize-page__content {
		@include table-middle;

		#trollface {
			max-width: 100%;
		}
	}

	audio {
		/*
			This is set by default when the controls aren't displayed.
			However I wanted to make sure they were hidden.
		*/
		display: none;
	}
}